.overdance {

  /* background: rgba(0, 0, 0, 0.7); */
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overdance p{
  color:white;
}

.overdance:target {

  visibility: visible;
  opacity: 0.9;
  
}

.popup {
  
  background: black;
  
  
  position: relative;
  transition: all 5s ease-in-out;
}


.popup .udah {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .udah:hover {
  color: #06D85F;
}
.popup .kobar {
  max-height: 30%;
  overflow: auto;
}
